.container {
    padding: 0;
    margin: 0;
}

@navbarHeight = 100;

.navbar {
    background-color: #402070;
    
}

.mainContentBlock {
    width: auto;
    height: auto;
    max-width: 800px;
    padding: 0;
    margin: 0;
}

.navbar .mainContentBlock .usernameText {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    font-family: Gill Sans,Gill Sans MT,Calibri,Arial;
    margin:  0;
    padding: 0;
    /*
    @elementHeight = 30px;
    @topBottomPadding = (@navbarHeight - @elementHeight / 2);
    padding: @topBottomPadding 0 @topBottomPadding 0;
    */
    
}

.navbar .mainContentBlock .customNavBarText {
    color: white;
    font-size: 20px;
    font-family: Gill Sans,Gill Sans MT,Calibri,Arial;
    margin: 0;
    padding: 0;
    /*
    @elementHeight = 20px;
    @topBottomPadding = (@navbarHeight - @elementHeight / 2);
    padding: @topBottomPadding 0 @topBottomPadding 0;
    */
}

