body {
    font-family: Segoe UI,Calibri,sans-serif;
    background-color: #b7bfcb;
/*
    background-image: url("http://i.imgur.com/JGNYN88.jpg");
    background-size: cover;
*/
    padding-top: 100px;
    position: relative;
}

/* Gives the .navbar and all .pageContentBlock a shadow */
body > .navbar, .pageContentBlock {
    box-shadow: 3px 3px 8px black;
}

.navbar {
    background-color: #0b2d65;
    border: 0px;
    width: 100%;
    margin: 0px;
    color: white;
}

/* Style all page contents should receive, excluding the width of the whole .navbar */
.wholePageContents {
    width: auto;
    height: auto;
    max-width: 900px;
    margin: 0px auto;
    padding: 0px 25px;
}

/* Style for the person's username text in the .navbar */
.navbar > .container-fluid > .usernameText {
    font-size: 30px;
    font-weight: bolder;
    color: white;
    padding: 29px 0px;
    margin: 0px 0px;
}

/* Style for the container of .navbarPageItems */
.navbar > .container-fluid > .navbarPagesItems {
    margin: 0px 0px;
    padding: 0px 0px;
}

#navbarCollapsedButton {
    margin: 33px 0px;
}

#collapsableNavBarItems > ul {
    margin: 30px 0px;
    padding: 0px 0px;
}

#collapsableNavBarItems > ul > li {
    margin: 0px 0px;
    padding: 0px; 0px;
}

.navbar .wholePageContents .collapsableNavItems .pagesNavBarTextStyle a {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0px 0px;
    padding: 10px 10px;
}

.navbar .wholePageContents .collapsableNavItems .pagesNavBarTextStyleLastElem a {
    padding: 10px 0px 10px 10px;
}

.pageContents {
    color: white;
    font-size: 20px;
}

.pageContentBlock > h1, h2 {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0px 0px;
    padding-bottom: 25px;
}

.pageContentContainer { }

.pageContentContainer:before {
    display: block; 
    content: " "; 
    margin-top: -125px; 
    height: 125px; 
    visibility: hidden; 
}

.pageContentBlock {
    margin: 0px 0px;
    padding: 50px 75px;
    background-color: white;
    color: #0f1114;
}

.pageContentBlock a {
    text-decoration: underline;
    color: black;
}

.firstContentBlock {
    background-color: #e4e7ee;
}

.aboutContentItem {
    padding: 0px 15px;
}

.aboutContentItem > h2 {
    text-align: right;
    vertical-align: middle;
}

.aboutContentItem > img {
    width: 100%;
    max-width: 200px;
    margin: auto;
    padding: auto;
    border-radius: 200px;
}

.showcaseItem > .thumbnail > a {
    text-decoration: none;
}

.showcaseItem > .thumbnail > * > .caption > h4 {
    text-align: center;
}

.showcaseItem > .thumbnail > * > .caption > p {
    font-size: 15px;
}





