body {
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
    background-color: #AAA;
    background-image: url("http://i.imgur.com/JGNYN88.jpg");
    background-size: cover;
    color: white;
    
    padding-top: 100px;
    text-shadow: 3px 3px 7px #000000;
}

.navbar {
    background-color: #0a1d3c;
    border: 0px;
    width: 100%;
    margin: 0px;
}

.mainContentBlock {
    width: auto;
    height: auto;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 25px;
    
    color: white;
    font-size: 25px;
}

.navbar .mainContentBlock .usernameText {
    font-size: 30px;
    font-weight: bolder;
    color: white;
    padding: 29px 0px;
    margin: 0px 0px;
}

.navbar .mainContentBlock .navbarPagesItems {
    margin: 0px 0px;
    padding: 0px 0px;
}

#navbarCollapsedButton {
    margin: 33px 0px;
}

#collapsableNavBarItems > ul {
    margin: 30px 0px;
    padding: 0px 0px;
}

#collapsableNavBarItems > ul > li {
    margin: 0px 0px;
    padding: 0px; 0px;
}

.navbar .mainContentBlock .collapsableNavItems .pagesNavBarTextStyle a {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0px 0px;
    padding: 10px 10px;
}

.navbar .mainContentBlock .collapsableNavItems .pagesNavBarTextStyleLastElem a {
    padding: 10px 0px 10px 10px;
}

h1.aboutBlock {
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.mainContentBlock > p > a {
    text-decoration: underline;
    color: white;
}

.aboutBlock:before {
    display: block; 
    content: " "; 
    margin-top: -125px; 
    height: 125px; 
    visibility: hidden; 
}



